/*

*{
  margin: 0;
  padding: 0;

}

 Resets universally all padding and margin */

a{ /* Global Style for links*/
  text-decoration: none;
}

a hover{
  color: blue;
}

a active{
  color: purple;
}

a visited{
  color: black;
}

body{
  background-color: #7EC0EE; /* hex, html colors, rgb */
  color: #555555;
  font-size: 12px;
  font-weight: bold;
  font-family: sans-serif;

  line-height: 1.6em;
}

.container{
  width: 80%;  /* or px*/
  margin:auto;
}

.box-1{
  background-color: #7e7e7e;
  color: #ffffff;
  border: 2px red solid; /* border adds space to element box */
  padding: 20px; /* padding is inside of element box */
  margin: 20px; /* margin adds space outside of element box*/
  border-radius: 15px;
}

.box-1 h1{
  font-family: Tahoma;
  word-spacing: 0.5em
}


.box-2{
  border: 2px red solid;
  color: white;
  background-color: #7e7e7e;
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
}


.categories{
  background-color: #7e7e7e;
  color: white;
  border: 2px red solid;
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
}

.categories h2{
  text-align: center;
}

.categories li{
  text-align: center;
  list-style: none;

}
